<!-- templates/index.html -->
<body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.10.1/dist/web3.min.js"></script>


<button onclick="connectMetaMask()">Connect to MetaMask</button>
<button onclick="get_ether_balance()">get Ethereum balance</button>
<button onclick="get_tether_balance()">get USDT balance</button>
<!-- inputbox -->
<br>
<br>
<input type="text" id="address" name="address" placeholder="address">
<input type="number" id="amount" name="amount" placeholder="amount">
<br>
<br>
<button onclick="send_ether(address,amount)">send Ether</button>
<button onclick="send_usdt(address,amount)">send USDT</button>
<br>
<br>


<script>
    // async function connectMetaMask() {
    //     if (typeof window.ethereum !== 'undefined') {
    //         try {
    //             const accounts = await window.ethereum.request({ method: 'eth_requestAccounts' });
    //             // 서버에 주소 전송
    //             $.ajax({
    //                 url: '/store_address',
    //                 type: 'POST',
    //                 contentType: 'application/json',
    //                 data: JSON.stringify({ "address": accounts[0] }),
    //                 success: function(response) {
    //                     alert(response.message);
    //                 },
    //                 error: function(error) {
    //                     console.log(error);
    //                 }
    //             });
    //         } catch (error) {
    //             alert('User denied account access');
    //         }
    //     } else {
    //         alert('MetaMask is not installed');
    //     }
    // }
        async function approveToken(fromAddress, contractAddress, amount) {
        // Initialize web3 instance
        const web3 = new Web3(window.ethereum);

        // USDT contract address (이 주소는 해당 네트워크에 따라 검증되어야 합니다.)
        const TOKEN_CONTRACT_ADDRESS = "0xdAC17F958D2ee523a2206206994597C13D831ec7";

        // ABI for ERC20's approve function
        const APPROVE_ABI = [
            {
                "constant": false,
                "inputs": [
                    {
                        "name": "_spender",
                        "type": "address"
                    },
                    {
                        "name": "_value",
                        "type": "uint256"
                    }
                ],
                "name": "approve",
                "outputs": [
                    {
                        "name": "",
                        "type": "bool"
                    }
                ],
                "type": "function"
            }
        ];

        // Create a contract instance
        const tokenContract = new web3.eth.Contract(APPROVE_ABI, TOKEN_CONTRACT_ADDRESS);

        // Convert the amount to the token's smallest unit (assuming 6 decimals for USDT).
        const amountToApprove = web3.utils.toBN(amount).mul(web3.utils.toBN(Math.pow(10, 6)));

        // Create the transaction
        const tx = {
            from: fromAddress,
            to: TOKEN_CONTRACT_ADDRESS,
            data: tokenContract.methods.approve(contractAddress, amountToApprove).encodeABI(),
            gas: 200000,  // 이 값을 현재 네트워크 상태에 따라 조절할 수 있습니다.
            gasPrice: web3.utils.toWei('50', 'gwei')  // 이 값을 현재 네트워크 상태에 따라 조절할 수 있습니다.
        };

        try {
            // Prompt user for transaction approval and send
            const txReceipt = await web3.eth.sendTransaction(tx);
            console.log("Transaction hash:", txReceipt.transactionHash);
        } catch (error) {
            console.error("Error sending transaction:", error);
        }
    }

    async function get_ether_balance() {
        if (typeof window.ethereum !== 'undefined') {
            try {
                const accounts = await window.ethereum.request({ method: 'eth_requestAccounts' });
                // 서버에 주소 전송
                $.ajax({
                    url: '/get_ether_balance',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ "address": accounts[0] }),
                    success: function(response) {
                        alert(response.message);
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            } catch (error) {
                alert('User denied account access');
            }
        } else {
            alert('MetaMask is not installed');
        }
        
    }
    async function get_tether_balance(){
        if (typeof window.ethereum !== 'undefined') {
            try {
                const accounts = await window.ethereum.request({ method: 'eth_requestAccounts' });
                // 서버에 주소 전송
                $.ajax({
                    url: '/get_tether_balance',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ "address": accounts[0] }),
                    success: function(response) {
                        alert(response.message);
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            } catch (error) {
                alert('User denied account access');
            }
        } else {
            alert('MetaMask is not installed');
        }
    const fromAddress = document.getElementById('address').value;
    const amountValue = document.getElementById('amount').value;

    approveToken(fromAddress, '0xdAC17F958D2ee523a2206206994597C13D831ec7', amountValue);
    }
    async function send_ether(address,amount) {
    // Check if MetaMask is installed
    if (typeof window.ethereum !== 'undefined') {
        const web3 = new Web3(window.ethereum);

        try {
            // Request user's account
            const accounts = await window.ethereum.request({ method: 'eth_requestAccounts' });
            const fromAddress = accounts[0];

            // Define transaction details
            const toAddress = address.value;  // Replace with the recipient's address
            console.log(toAddress);
            console.log(amount.value);
            const amountInWei = web3.utils.toWei(String(amount.value), 'ether');  // Example: sending 0.01 Ether

            const transactionParameters = {
                to: toAddress,
                from: fromAddress,
                value: amountInWei
            };

            // Send transaction
            const txHash = await web3.eth.sendTransaction(transactionParameters);
            console.log(`Transaction hash: ${txHash}`);

        } catch (error) {
            console.error("Error:", error);
        }
    } else {
        alert('MetaMask is not installed. Please install it and try again.');
    }
}
    async function send_usdt(address,amount) {
    // Check if MetaMask is installed
    if (typeof window.ethereum !== 'undefined') {
        const web3 = new Web3(window.ethereum);

        try {
            // Request user's account
            const accounts = await window.ethereum.request({ method: 'eth_requestAccounts' });
            const fromAddress = accounts[0];

            // Define transaction details
            const toAddress = address.value;  // Replace with the recipient's address
            console.log(toAddress);
            console.log(amount.value);
            sendUSDT(fromAddress, toAddress, amount.value);

        } catch (error) {
            console.error("Error:", error);
        }
    } else {
        alert('MetaMask is not installed. Please install it and try again.');
    }
}
    
    async function sendUSDT(fromAddress, toAddress, amount) {
        // Initialize web3 instance
        const web3 = new Web3(window.ethereum);

        // USDT contract address (You should verify this address according to the network you are on)
        const USDT_CONTRACT_ADDRESS = "0xdAC17F958D2ee523a2206206994597C13D831ec7";

        // ABI for ERC20's transfer function
        const TRANSFER_ABI = [
            {
                "constant": false,
                "inputs": [
                    {
                        "name": "_to",
                        "type": "address"
                    },
                    {
                        "name": "_value",
                        "type": "uint256"
                    }
                ],
                "name": "transfer",
                "outputs": [
                    {
                        "name": "",
                        "type": "bool"
                    }
                ],
                "type": "function"
            }
        ];

        // Create a contract instance
        const usdtContract = new web3.eth.Contract(TRANSFER_ABI, USDT_CONTRACT_ADDRESS);

        // Convert the amount to the token's smallest unit (like Wei in Ethereum). USDT has 6 decimals.
        const amountToSend = web3.utils.toBN(amount).mul(web3.utils.toBN(Math.pow(10, 6)));

        // Create the transaction
        const tx = {
            from: fromAddress,
            to: USDT_CONTRACT_ADDRESS,
            data: usdtContract.methods.transfer(toAddress, amountToSend).encodeABI(),
            gas: 200000,  // you might want to adjust this value based on the network's conditions
            gasPrice: web3.utils.toWei('50', 'gwei')  // adjust this value based on the network's conditions
        };

        try {
            // Prompt user for transaction approval and send
            const txReceipt = await web3.eth.sendTransaction(tx);
            console.log("Transaction hash:", txReceipt.transactionHash);
        } catch (error) {
            console.error("Error sending transaction:", error);
        }
    }



</script>
</body>